<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189901341773-hj1venhjhe6icc7ql33fmlajnf48rbga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189901341773-hj1venhjhe6icc7ql33fmlajnf48rbga</string>
	<key>API_KEY</key>
	<string>AIzaSyD8ZXuF6nOTly3LLHwISydCqC_wUFWEWPY</string>
	<key>GCM_SENDER_ID</key>
	<string>189901341773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mankiet208.SwiftUITemplate</string>
	<key>PROJECT_ID</key>
	<string>todolist-8c843</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-8c843.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189901341773:ios:ee6b3d9078f60e99ab8804</string>
</dict>
</plist>